@charset "UTF-8";
body{
  position: relative;
  .hHeader{
    padding: 0 0.5rem;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d5d5d5;
    z-index: 9999;
    background: #fff;
    a:nth-of-type(1) img{
      width: 0.17rem;
      height: 0.3rem;
      margin-top: 0.3rem;
    }
    a:nth-of-type(2) img{
      width: 0.38rem;
      height: 0.36rem;
      margin-top: 0.3rem;
    }
    h1{
      font:0.36rem/0.96rem "";
      color:#000;
    }
  }
}
.hnav{
  display: flex;
  justify-content:space-between;
  background: #f4f4f4;
  margin-top: 0.96rem;
  .hnav-l{
    width: 90%;
    ul{
      display: flex;
      justify-content:space-between;
      li{
        font:0.27rem/0.8rem "";
        color:#696969;
        text-align: center;
      }
      li:first-of-type{
        color:#ee614d;
        border-bottom: 0.04rem solid #ee614d;
      }
    }
  }
  h4{
    width: 10%;
    height: 0.8rem;
    text-align: center;
    box-shadow:-0.05rem 0 0.05rem #000;
    img{
      width: 0.23rem;
      height: 0.15rem;
      margin-top: 0.3rem;
    }
  }
}
.hmain{
  display: flex;
  justify-content:space-between;
  p:nth-of-type(1){
    margin-left: 0.35rem;
    span{
        font:0.28rem/1.23rem "";
        color:#a4a4a4;
    }
    .one{
      color:#ee614d;
    }
    .two{
      color:#cd9f61;
    }
    .three{
      color:#a4b54f;
    }
    img{
      width:0.77rem ;
      height: 0.77rem;
      margin-left: 0.3rem;
    }
  }
  p:nth-of-type(2){
    margin: 0.23rem 0 0.2rem 0.27rem;
    width: 72%;
    border-bottom: 1px solid #f3f3f3;
    padding-right: 0.8rem;
    box-sizing: border-box;
    position: relative;
    span{
      font:0.28rem/0.37rem "";
      color:#2d2d2d;
    }
    img{
      width:0.17rem ;
      height: 0.20rem;
      margin-right: 0.1rem;
    }
    b{
      font:0.22rem/0.64rem "";
      color:#2d2d2d;
    }
    .xiazai{
      width: 0.50rem;
      height: 0.5rem;
      position: absolute;
      right: 0.3rem;
      bottom: 0.1rem;
    }
  }
}
.hfenlei{
  background: #fff;
  padding: 0.3rem;
  position: absolute;
  top:0.83rem;
  left:0;
  z-index: 222222;
  display: none;
  ul{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    width: 100%;
    li{
      width: 32.5%;
      font:0.35rem/0.8rem "";
      color:#323232;
      background: #f3f7fa;
      margin-bottom: 0.05rem;
      text-align: center;
    }
  }

}
.hfooter{
  position: fixed;
  bottom: 0;
  left: 38%;
  z-index: 9999;
  img{
    width: 1.53rem;
    height: 1.67rem;
  }
}